.main {
  min-height: 100vh;
  background-color: black;
  color: white;
}

.main ::selection {
  background-color: var(--accent);
  color: black;
}

.footer {
  padding: 3rem 0;
  border-top: 1px solid #222;
  text-align: center;
  color: #4b5563;
  /* gray-600 */
}

.footerText {
  font-size: 0.875rem;
}